*
!vendor

!function-controller/cmd
!function-controller/pkg
!function-controller/tmp

!function-sidecar/cmd
!function-sidecar/pkg

!http-gateway/cmd
!http-gateway/pkg

!topic-controller/cmd
!topic-controller/pkg
!topic-controller/tmp

!message-transport
!kubernetes-crds
