debug

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Visual Studio Code
.vscode

### Coverage artefacts ###
*.coverprofile

### Credentials
gcr-storage-admin.json

.DS_Store

/riff
/riff.exe
/riff-darwin-amd64.tgz
/riff-linux-amd64.tgz
/riff-windows-amd64.zip

# Docusaurus website
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*