target/

# Sample artifacts
samples/**/Dockerfile
samples/**/*.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_Store

