# Eclipe artifacts
.project
.settings

# IntelliJ artifacts
.idea

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store

# Docusaurus website
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
