# built artifacts
/riff
/riff.zip
/riff-*.tgz
/riff-*.zip

# coverage artifacts
/coverage.txt

# Eclipe artifacts
.project
.settings

# IntelliJ artifacts
.idea

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store
